body {
  font-family: Arial, sans-serif;
}
.search-form {
  border: 1px solid #dadde1;
  border-radius: 12px;
  padding: 15px;
  margin: 20px auto;
  max-width: 600px;
}
h1 {
  color: #363434;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin: 0;
  margin-bottom: 5px;
}
#city {
  margin-top: 10px;
}
ul {
  margin: 0, 0, 10px;
  padding: 0;
}
li {
  color: #7c7c7c;
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
}
.temperature {
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}
.units {
  position: relative;
  top: -32px;
}
weather-icon {
  height: 64px;
  width: 64px;
  margin-right: 10px;
}
.weather-search {
  margin-bottom: 10px;
}
a {
  text-decoration: none;
}
.row1 {
  color: #7c7c7c;
}
.row2 {
  color: #7c7c7c;
}
.row3 {
  color: #7c7c7c;
}
.row4 {
  color: #7c7c7c;
}
.row5 {
  color: #7c7c7c;
}
.row6 {
  color: #7c7c7c;
}
.col1 {
  margin-top: 15px;
}
.bottom {
  margin-top: 17px;
}
.creds {
  text-align: center;
  font-size: smaller;
}
.cred-links {
  text-decoration: none;
  color: cornflowerblue;
}
